@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-position: top left;
  font-size: 15px;
}

header {
  margin: 2rem;
  padding: 2rem 0;
  text-align: center;
  background-image: url("/images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
}
header h1 {
  font-size: 1.25rem;
}
header p {
  margin-top: 1.5rem;
  line-height: 1.5rem;
  color: #858fad;
}

main {
  background-color: white;
  width: calc(100% - 3rem);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.costs p {
  letter-spacing: 0.15rem;
  color: #858fad;
  text-transform: uppercase;
}
.costs p:last-child {
  text-transform: lowercase;
  margin-top: 1.5rem;
}

#cost {
  color: #293356;
  font-size: 2.5rem;
  font-weight: 800;
}

input[type=range] {
  height: 50px;
  -webkit-appearance: none;
  margin: 1.25rem 0 0;
  width: 100%;
}
input[type=range]:focus {
  outline-style: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #a5f3eb;
  border-radius: 50px;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 6px 50px 2px #10d5c2;
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #10d5c2;
  background-image: url("/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #a5f3eb;
  border-radius: 50px;
  border: none;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 6px 50px 2px #10d5c2;
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #a5f3eb;
  border-radius: 50px;
  border: none;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 2px 6px 50px 2px #10d5c2;
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.price p {
  color: #858fad;
}

.click {
  width: 3.5rem;
  height: 1.75rem;
  margin: 0 0.5rem;
  border: none;
  background-color: #eaeefb;
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
}
.click:hover {
  background-color: #10d5c2;
  cursor: pointer;
}
.click .dot {
  position: absolute;
  background-color: white;
  width: 1.25rem;
  height: 1.25rem;
  left: 0.25rem;
  border-radius: 100%;
}
.click .dot-active {
  left: auto;
  right: 0.25rem;
}

hr {
  width: calc(100% + 4rem);
  margin: 2.5rem -2rem;
  border: 1px solid #eaeefb;
}

.list ul {
  list-style-image: url("/images/icon-check.svg");
  list-style-position: inside;
}
.list ul li {
  padding-top: 0.5rem;
  color: #858fad;
}

.btn {
  background-color: #293356;
  color: #bdccff;
  border: none;
  padding: 0.75rem 3rem;
  border-radius: 2rem;
  margin-top: 2rem;
  font-weight: 600;
}
.btn:hover {
  color: white;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
