h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-Manrope;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: $font-Manrope;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-position: top left;
  font-size: $font-size;
}

@media (min-width: 1440px) {
  body {
    background-size: contain;
  }
}
